:root {
  --violet: hsl(263, 55%, 52%);
  --darkgreyblue: hsl(217, 19%, 35%);
  --darkblackblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(0, 0%, 81%);
  --lightblue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lightblue);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
  width: 1140px;
  margin: 8rem auto;
}

/* Container */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 285px 265px;
  grid-template-areas:
    "Daniel Daniel Jonathan Kira"
    "Jeanette Patrick Patrick Kira";
  grid-gap: 1.5rem;
}

/* Areas General */

.testimonials {
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  color: var(--white);
  padding: 1.5rem 2rem;
}

.testimonials.grey {
  color: var(--darkgreyblue);
}

.testimonials h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1.2rem auto;
}

.personal-description {
  opacity: 70%;
  line-height: 1.5;
}

/* Areas Specific */

.daniel-testimonial {
  background-color: var(--violet);
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 80%;
  grid-area: Daniel;
}

.jonathan-testimonial {
  background-color: var(--darkgreyblue);
  grid-area: Jonathan;
}

.jeanette-testimonial {
  background-color: var(--white);
  grid-area: Jeanette;
}

.patrick-testimonial {
  background-color: var(--darkblackblue);
  grid-area: Patrick;
}

.kira-testimonial {
  background-color: var(--white);
  grid-area: Kira;
}

/* Testimonial Graduate Image */

.graduate-img {
  border-radius: 100%;
  float: left;
  margin-right: 1rem;
  width: 30px;
}

.graduate-img.border {
  border: 2px solid hsl(263, 55%, 62%);
}

/* Testimonial Graduate Name */

.graduate-name {
  font-size: 11px;
  display: relative;
}

.graduate-name .verified {
  padding-top: 2px;
  opacity: 50%;
}

/* Footer */

.attribution {
  color: var(--darkgreyblue);
  font-size: 11px;
  font-weight: 300;
  margin-top: 3rem;
  text-align: center;
}

.attribution a {
  color: var(--darkgreyblue);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--lightgrey);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 320px;
    margin: 4rem auto 2rem;
  }

  /* Container */

  .container {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "Daniel"
      "Jonathan"
      "Jeanette"
      "Patrick"
      "Kira";
  }

  /* Areas General */

  .testimonials h3 {
    font-size: 1.2rem;
  }
}
